<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="SsEwoFKUN2ZywZVR2hUdMywnf3o0o3zfAq_lLRA3a-s" />

    <title>The Ray Harryhausen Creature List </title>

    <meta name="description" content="A tribute to stop-motion animation master Ray Harryhausen, whose spellbinding science fiction and fantasy special effects continue to amaze.">

    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,400italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/screen.css" />

	<script src="js/vue-1.0.26.js"></script>
	<script src="js/jquery-1.12.4.min.js"></script>

    <!-- waypoints for sticky nav. https://github.com/imakewebthings/jquery-waypoints -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/waypoints-sticky.min.js"></script>

    <!-- lazy load video tags to manage bandwidth. http://www.pincer.io/node/libraries/lazysizes -->
    <script src="js/lazysizes.min.js" async=""></script>

    <!-- custom controls -->
    <script type="text/javascript" src="js/harryhausen.js"></script>    

</head>

<body v-cloak>

<!--
#####
The Ray Harryhausen Creature List
v6, 7/2016
#####
 -->

<header>
<h1>The Ray Harryhausen Creature List</h1>
<h2>A tribute to the stop-motion magician</h2>
</header>

<nav id="listNavigation">

<span class="instructions">Sort:</span>

<a href="#" id="byCreature" v-bind:class="{ 'current': layout == 'layoutCreature'}" v-on:click="layout='layoutCreature'"><span class="navBullet"></span>by creature</a>

<span class="divider"></span>

<a href="#" id="byMovie" v-bind:class="{ 'current': layout == 'layoutMovie'}" v-on:click="layout='layoutMovie'"><span class="navBullet"></span>by movie</a>

<span class="divider"></span>

<a href="#" id="about" v-bind:class="{ 'current': layout == 'layoutAbout'}" v-on:click="layout='layoutAbout'"><span class="navBullet">about Ray Harryhausen</span></a>
</nav>      


<section id="creatureList" v-if="layout == 'layoutCreature'">

<ul class="contentList">

	<li v-for="creature in creatureList" @mouseenter="videoPlay" @mouseleave="videoPause" class="creature-item" id="{{ creature.id }}">

	<video loop="loop" v-bind:src="creature.video" class="lazyload"></video>

	<img class="still lazyload" v-bind:src="creature.still" alt="" title="" />

	<h2>{{ creature.name }}</h2>

	<h3><a class="creatureList_anchor {{ creature.anchorClass }}" v-on:click="anchorLink">{{ creature.title }}</a> ({{ creature.year }})</h3>

	<p>
	{{{creature.description}}}
	</p>

	</li>

</ul>

</section>



<section id="movieList" v-if="layout == 'layoutMovie'">

<ul class="contentList">

	<li v-for="movie in movieList" id="{{movie.id}}">

	<img class="poster lazyload" v-bind:src="movie.poster" width="{{movie.posterWidth}}" height="{{movie.posterHeight}}" alt="" title="" /> 

	<h2><em>{{movie.title}}</em> ({{movie.year}})</h2>
		<ul class="movieList_cast">
		<li v-for="movieCreature in movie.creatures">
			<a class="movieList_anchor {{movie.anchorClass}}">{{movieCreature}}</a>
		</li>
		</ul>
	</li>

</ul>

</section>


<section id="about" v-if="layout == 'layoutAbout'">

<div class="content">

<a class="portrait" href="{{portraitLink}}" target="_blank" title="{{portraitTitle}}"></a>

{{{aboutContent}}}

</div>

</section>


<footer>

    <div class="footer_content">

        <div class="footer_row1">

            <div class="footer_social">

                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>


                <div class="footerIcon facebook">
                    <div class="fb-share-button" data-href="http://www.harryhausen.com" data-width="120" data-layout="button_count"></div>
                </div>

                <div class="footerIcon twitter">
                <a href="https://twitter.com/share" class="footerIcon twitter-share-button" data-url="http://www.harryhausen.com" data-text="The Ray Harryhausen Creature List - a tribute to the stop motion magician." data-size="large">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>

            </div>

        <a class="footer_link" href="http://www.rayharryhausen.com" target="_blank">www.RayHarryhausen.com - the Official Ray Harryhausen Web Site</a>

        </div>

        <div class="footer_row2">
            <div class="footer_disclaimer">
            harryhausen.com is a fan tribute, and is not affiliated with Ray Harryhausen or the Ray and Diana Harryhausen Foundation. 
            </div>
        </div>      


    </div>

</footer>


<script src="harryhausen_data.json"></script>

<script>

new Vue ({
	el: "body",
	data: harryhausenModel,
    methods: {
        videoPlay: function() {
            event.currentTarget.getElementsByTagName("video")[0].play();
        },
        videoPause: function() {
            event.currentTarget.getElementsByTagName("video")[0].pause();
        },
        anchorLink: function () {
            console.log("click: "+event.currentTarget.className.split(' ')[1]);
            layout = 'layoutMovie';
            console.log("layout: "+layout);
        }

    }      

});



</script>

<!--
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-947043-29");
pageTracker._trackPageview();
} catch(err) {}</script>
-->

</body>


</html>